@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Rajkot, Gujrat, India<br />
        Parth chhatrola, WhatsApp 8485912112<br />
        <abbr title="Phone">P:</abbr>
        8485912112
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:pchhatrola324@rku.ac.in">pchhatrola324@rku.ac.in</a><br />
        <strong>Marketing:</strong> <a href="mailto:pchhatrola324@rku.ac.in">pchhatrola324@rku.ac.in</a>
    </address>
</main>